<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="ImagesPath" value="..\..\..\TestProject\AutomationImages\"/>
    
    <!--<add key="EnableHtmlLogger" value="true"/>
    <add key="EnableSnapshotInfo" value="true"/>-->
  </appSettings>

  <system.diagnostics>
    <switches>
      <add name="EqtTraceLevel" value="0" />
    </switches>
  </system.diagnostics>

</configuration>

